.bgimage {
    background-image: url('https://i.ibb.co/sh7x4xf/card-shape.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
    width: 100%;
    min-width: 100%;
    height: auto;
}