@font-face {
    font-family: "product-sans";
    src: url(/fonts/Product-Sans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "product-sans";
    src: url(/fonts/Product-Sans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "product-sans";
    src: url(/fonts/Product-Sans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
font-family: 'Rubik One';
font-style: normal;
font-weight: normal;
src: url('/fonts/RubikOne-Regular.woff') format('woff');
}


@import "tailwindcss";


@theme{
    --font-primary: "product-sans", sans-serif;
    --font-seconday: 'Rubik One', sans-serif;
    --color-primarybg: #E6E4D5 ;
}

:root{




    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;


}

body {
    @apply font-primary
}